---
layout: default 
---

<aside class="sidebar">
    <input id="toc-toggle" class="toc-toggle visually-hidden" type="checkbox" />
    <label for="toc-toggle">Table of Contents <span class="visually-hidden">toggle</span></label>

    <nav class="toc-container" aria-label="table of contents">
      <ol class="toc-level-0 selected">
        <li class="toc-level-0">
          <a href="#">Contents</a>
          <ol class="toc-level-1 selected">
            <li class="toc-level-1 selected">
              <a>Home</a>
            </li>
            <li class="toc-level-1">
              <a href="/docs/">Docs</a>
            </li>
            <li class="toc-level-1">
              <a href="/news/">News</a>
            </li>
            <li class="toc-level-1">
              <a href="/about/">About</a>
            </li>
          </ol>
        </li>
      </ol>
    </nav>
  </aside>

<article class="chapter">
  <h1>
    Welcome to RASER Home!
  </h1>
  <hr>

  <div class="content">

  <h4>Goal</h4>
    <li>
      Develop radiation hard semiconductor for HEP experiment and beyond.
    </li>

    <h4>Software</h4>
    <li> 
      <a href=https://pypi.org/project/raser/>https://pypi.org/project/raser/</a> 
    </li>

    <a href="https://doi.org/10.5281/zenodo.18905684"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.18905684.svg" alt="DOI"></a>

  </div>

  <h4>Recent News</h4>
  <ul>
    {% for post in site.posts limit:5 %}
    <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a>
        {{ post.excerpt }} 
        {% if post.excerpt != post.content %}
        <a href="{{ site.baseurl }}{{ post.url }}">[Read more]</a>
        {% endif %}
    </li>
    {% endfor %} 
  </ul>

</article>



